@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200,700);

body {
   background: #6F7E8D;
   font-family: Helvetica, Arial, sans-serif;
   margin: 0px;
}


h1 {
  font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
  font-size: 48px;
  color: black;
  border: 1px solid #000;
  border-width: 5px;
  border-style: double;
  border-color: black;
  padding: 10px 60px;
  margin: 30px;
  background-color: #F2F2F0;
}

h2 {
  color: #FFFFFF;
  padding: 0px 90px;
  font-weight: lighter;
}

h3 {
  color: #000000;
  font-weight: lighter;
}


section {
  background: #9DC1B7;
  padding: 20px 40px;
  margin: 40px 80px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 8px 8px 0px #657F82;
}

a {
  color: #555555;
  text-decoration: none;
}

header a em {
  color: white;
  font-size: 20px;
}

header img {
  border-radius: 50%;
  text-align: center;
}

header {
  background: url('../images/cover.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  text-align: center;
}

a:hover {
  color: black;
  transition: 0.2s all;
  -webkit-transform: scale(1.2);
}
